#introduction {
  background-color: #7ce7ca;
  border-top: 1px solid #59ba9b;
  border-bottom: 1px solid #59ba9b;
  height: 500px;
}
#company-name {
  font-size: 16em;
  font-family: Impacto,Impact,sans-serif;
  text-align: center;
  margin: 80px auto 0;
  line-height: 300px;
  height: 300px;
}
.top-summary {
  text-align: center;
}
section {
  padding-bottom: 120px;
  border-bottom: 1px solid #cccccc;
}
.section-title {
  font-size: 3em;
  text-align: center;
  margin: 80px 0 40px;
}
#services h2 {
  font-size: 1.4em;
  text-align: center;
}
.service {
  margin-bottom: 20px;
}
#services .service-image-box {
  text-align: center;
  margin-top: 16px;
}
#services .service-image {
  height: 60px;
  margin-right: 20px;
}
#services .service-description {
  margin-top: 18px;
  padding: 0 30px;
}
#philosophy .philosophy-description {
  margin: 18px auto 0;
  padding: 0 30px;
  max-width: 600px;
}
.company-description {
  margin: 18px auto 0;
  padding: 0 30px;
  max-width: 700px;
}
.contact-description {
  margin: 18px auto 0;
  padding: 0 30px;
  max-width: 700px;
}

@media screen and (max-width: 600px) {
  #introduction {
    height: 260px;
  }
  #company-name {
    margin: 60px 0 0 0;
    line-height: normal;
    height: auto;
    font-size: 6em;
  }
  .top-summary {
    font-size: 0.9em;
  }
  .summary-line {
    display: block;
  }
  section {
    padding-bottom: 60px;
  }
}
